@import "./base";
@import "./bootstrap/bootstrap.scss";

body{
    background-image: url(../pink_rice.png);
}

.menu__home{
    background-color:#f0cddb;
    .menu__img{
        border-radius: 5%;
    }
}

.menu__navegation{
    margin: 10px;
    .nav-item{
        padding: 2px;
        a {
            text-decoration: none;
            color:$primary;
            font-size: 20px;
        }
        a:hover{
            background-color:#ffe6ff;
            color: $primary;
        }
    } 
    
}


.inicio__texto{
    padding: 5%;
    .inicio__contenido{
        color: blueviolet;
        font-family: 'Lato', sans-serif;
    }
    .inicio__titulo{
        color:  #e6005c;
        font-family: 'Nixie One', cursive;
        font-size: 30px;
        letter-spacing: 3px;
    }
    .inicio__img{
        width: 100%;
        height: auto;
    }
}

.footer__information{
    background: linear-gradient(#ebccd8, #f5a4c4); 
    .a{
        text-decoration: none;
        font-size: 20px;
        color: #99003d;
    }
}

/*----------------nosotros-----------*/

.nosotros__container{
    transition: all 1s ease-in-out;
    .nosotros__title{
        font-size: 40px;
        margin-bottom: 30px;
        transform: skew(10deg);
    }
    .nosotros__text{
        background-color: #ebccd8;
        .nosotros__text--p{
            padding: 1rem;
            color: blueviolet;
            font-size: 20px;
            text-align: justify;
        }
    }
    .nosotros__img{
        transition: all 1s ease-in-out;
        margin: 2px;
        &:hover{
            transform: translate(30px) scale(1.2);
            transform-origin: center;
            box-shadow: -10px 10px #99003d6b;
        }
    }
}


/*----------------servicios-------------*/
.servicios__cont{
    display: flex;
    height: 250px;
    width: 850px;
    padding: 1rem;
    margin: 25px auto;
    text-align: center;
    align-items: center;
    animation-name: desvanecer;
    animation-duration: 2s;
    animation-delay: 1s;
    .servicios__card{
        display: block;
        width: 1100px;
        .servicios__card--title{
            display: inline;
            width: 300px;
            padding: 5px;
            font-family: 'Nixie One', cursive;
            color:#e6005c;
        }
        .servicios__card--p{
            display:block;
            color: blueviolet;
            font-size: 20px;
            width: 600px;
            padding: 10px;
            margin: 10px;
            text-align: justify;
        }
    }
    & img{
        height: 100%;
        margin: 5px;
        box-shadow: 5px 5px #8b8b8b32;
        border-radius: 2%;
        transition: all 1s ease;
        &:hover{
            transform: translate(10px) scale(1.1);
            transform-origin: center;
            box-shadow: -10px 10px #99003d6b;
        }
    }
    .moverIzquierda{
        transform: translate(-30px);
    }
    .moverDerecha{
        transform: translate(30px)
    }
}

@keyframes desvanecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




