body{
    background-image: url(./pink_rice.png);
    font-family: 'Lato', 'Nixie One', sans-serif;
}

.menu__home{
    background-color:#f0cddb;
}

.menu__img{
    border-radius: 5%;
}

.menu__navegation{
    margin: 10px;
}

.navbar-collapse .navbar-nav .nav-item, .dopdrown-item{
    padding: 2px;
}

.navbar-collapse .navbar-nav .nav-item a{
    text-decoration: none;
    color:#99003d;
    font-size: 20px;
}

.navbar-collapse .navbar-nav .nav-item a:hover{
    background-color:#ffe6ff;
    color: #99003d;
}


/*----------------index-------*/

.inicio__img{
    width: 100%;
    height: auto;
}

.inicio__texto{
    padding: 5%;
}

.inicio__contenido{
    color: blueviolet;
    font-family: 'Lato', sans-serif;
}

.inicio__titulo, .tituloNosotros{
    color:  #e6005c;
    font-family: 'Nixie One', cursive;
    font-size: 30px;
    letter-spacing: 3px;
}


/*----------------nosotros-----------*/

.nosotros__container{
    transition: all 1s ease-in-out;
}
.nosotros__title{
    font-size: 40px;
    margin-bottom: 30px;
    transform: skew(10deg);
}

.nosotros__text{
    background-color: #ebccd8;
}

.nosotros__text--p{
    padding: 1rem;
    color: blueviolet;
    font-size: 20px;
    text-align: justify;
}

.nosotros__img img{
    transition: all 1s ease-in-out;
}

.nosotros__img img:hover{
    transform: translate(30px) scale(1.2);
    transform-origin: center;
    box-shadow: -10px 10px #99003d6b;
}

/*----------------servicios-------------*/
.servicios__cont{
    display: flex;
    height: 250px;
    width: 850px;
    padding: 1rem;
    margin: 25px auto;
    text-align: center;
    align-items: center;
    animation-name: desvanecer;
    animation-duration: 2s;
    animation-delay: 1s;
}

.servicios__card{
    display: block;
    width: 1100px;
}

.servicios__card--title{
    display: inline;
    width: 300px;
    padding: 5px;
    font-family: 'Nixie One', cursive;
    color:#e6005c;
}

.servicios__card--p{
    display:block;
    color: blueviolet;
    font-size: 20px;
    width: 600px;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

.servicios__cont img{
    height: 100%;
    margin: 5px;
    box-shadow: 5px 5px #8b8b8b32;
    border-radius: 2%;
    transition: all 1s ease;
}

.servicios__cont img:hover{
    transform: translate(10px) scale(1.1);
    transform-origin: center;
    box-shadow: -10px 10px #99003d6b;
}


.moverIzquierda{
    transform: translate(-30px);
}

.moverDerecha{
    transform: translate(30px)
}
/*----------------cursos------------*/

.contenedorCursos{
    display: flex;
    width: 1100px;
    margin: auto;
    justify-content: space-around;
    animation-name: desvanecer;
    animation-duration: 3s;
    animation-delay: 1s;
}

.contenedorCursos div h2{
    display: inline-block;
}

.cajasCursos{
    display: block;
    width: 300px;
    margin: 10px;
}

.cajasCursos div img{
    width:100%;
}

.cajasCursos h2{
    text-align: center;
    color:  #e6005c;
    font-family: 'Nixie One', cursive;
}

.cajasCursos p{
    text-align: justify;
    padding: 1rem;
    font-size: 20px;
    color: blueviolet;
    font-family: 'Lato', sans-serif;
}

.btn_cursos{
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 30px;
    margin: auto;
    background-color: #e6005c;
    color: white;
    border-radius: 2%; 
    cursor: pointer;
}

.tituloCursos{
    margin: auto;
    font-family: 'Nixie One', cursive;
    font-size: 35px;
    width:550px;
    color: #e6005c;
}
/*----------------galería-------------*/


    /*----------------container-------------*/

.container{
    display: block;
    max-width: 1100px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    animation-name: desvanecer;
    animation-duration: 3s;
    animation-delay: 1s;
}


    /*----------------grilla-------------*/

.galeria-layout-grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 50% 50% 50%;
    grid-auto-flow: dense;
    gap: 30px;
}


    /*----------------texto-------------*/

.galeria-layout-grid article img {
    width: 100%;
}

.galeria-layout-grid article div {
    height: 15%;
    background-color: #99003d;
    text-align: center;
}

.galeria-layout-grid article h3{
    color: white;
    padding: 10px;
}

/*----------------contacto------------*/
.form_contacto{
    width: 1100px;
    margin: auto;
}

.form_contacto h2{
    color: #e6005c;
}

form label{
    color: #e6005c;
}

form button{
    background-color: blueviolet;

}
/*----------------Footer-------------*/

.footer__information{
    background: linear-gradient(#ebccd8, #f5a4c4); 
}

.footer__information--about-us a{
    text-decoration: none;
    font-size: 20px;
    color: #99003d;
}


@keyframes desvanecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 1184px){
    .inicio__img{
        justify-content: center;
    }
}

